{% extends 'layout.html' %}
{% block body %}
<img border="0" src="/static/images/头像.jpg" alt="Pulpit rock" width="90" height="90">
	<p>头像：</p>
	<h2>博客主题： 滑板文化</h2>
	<h2>博客名：CYT的滑板世界</h2>

	<h1>Part1 滑板运动</h1>
	<p>
	引言 <br>
	滑板项目是极限运动历史的鼻祖，许多的极限运动项目均由滑板项目延伸而来。50年代末60年代初由冲浪运动演变而成的滑板运动，在而今已成为流行运动。滑板的技巧主要包括:THE AERIAL(在滑杆上)、THE INVERT(在U台上)、THE OLLIE(带板起跳)，这些技术可说是除了翻板之外最重要的滑板动作。世界上两个 重要的滑板国际组织:国际滑板商协会(INTERNATIONAL ASSOCIATION OF SKATEBOARD COMPANIES，IASC)J及世界杯滑板赛(WORLD CUP SKATE BOARDING，WCS)<br>
	历史起源<br>
	滑板是冲浪运动在陆地上的延伸。前者受地理和气候的限制，而后者则有更大的自由度。<br>
	五十年代 中、后期，美国南加州海滩社区的居民们发明了世界上第一块滑板，一块50X10X50CM的木版固定在轮滑的铁轮子上。然而，这样一个简单的运动器械，却因为它能给人们带来和冲浪相同的感受，开始受人瞩目。<br>
	第二代滑板诞生于1962年，由橡木多层板压制而成的板面、轮滑转向桥和塑料轮子组成。与第一代滑板相比，这种滑板无疑是技术上的一个飞跃。但是，这种滑板的塑料轮的性能依然不理想。它的过小的附着摩擦力使滑板转弯时失控;而它的低弹性则使滑板遇到即使微小的障碍物也会嘎然而止，把滑手摔下来。同时，它的耐磨性也太差。尽管如此,这种滑板仍然受到滑手们的普遍欢迎。毕竟，和前一代滑板相比，它已经有了很大程度的进化，相对宽大的板面使滑手们更容易站立和操纵。<br>
	由于滑板是冲浪运动的衍生，七十年代的滑板文化带着冲浪的印记，滑板爱好者修建的滑板公园都是在模拟冲浪的地形。直到美国加州圣塔莫尼克的"西风"滑板队摒弃了冲浪道具，首次把钥匙孔游泳池作为练习垂直表面滑板的场地，并在全美掀起了"泳池滑板热"，至此，滑板运动开始从冲浪中，不仅是从器材、场地，也从人员上彻底分离出来，并形成了自己的语言、技巧、服饰风格和音乐爱好。<br>
	八十年代末，由于滑板运动本身的发展和滑手们对滑板技巧要求的提高，以及为了适应U型池(vert ramp)双向滑行的需要，一种与前三代滑板形状完全不同的两头翘起、形状对称的滑板出现了，这就是第四代滑板。制作这种滑板的材料叫硬岩枫，重量更轻，弹性更好。滑板轮硬度高,弹性好,更适合高速滑行。由于重量平衡,第四代滑板更适合各种翻转动作。<br>
	九十年代初，滑板从一头改为两头，因而出现了许多前一代滑板不可能完成的动作。这个时期是滑板运动的技巧性动作(technical tricks)时代。滑手们发明了很多新的动作。同时为了使滑板更容易翻转，滑板板面变得很窄，轮子变得很小。这个时期一块典型的滑板宽度只有7英寸，而轮子直径只有39mm左右。这样的滑板虽然更易于做出复杂的动作，但是较小的轮子却妨碍了它的滑行性能。 如今国际上极限运动比赛常用的滑板属于第四代滑板，板面普遍以五层、七层或九层枫木板微波冷压，也有用铝合金、碳纤维等材料所做成的。板面上粘上一层防滑层(俗称"砂"Griptape)，轮子一般采用聚胺酯为主要材料，用合金制成的滑板支架(又称"转向桥"Truck)与板面相连。<br>
	滑板运动-滑板文化<br>
	滑板运动,它发源于60年代初的美国，由海上冲浪运动演化而来，是水上滑板向陆地的延伸。70年代曾兴盛一时，仅在加里福尼亚州就有300余个公共或私营的滑板公园。如今，美国的极限公园(滑板、极限直排轮滑、特技单车)就已经超过了5000多家。<br>
	随着滑板运动的开展，滑板技 术直追其始祖冲浪运动。盖范特(Alan Gelfand)发明了带板跳(the ollie)，使滑板界更注重高技术的表演，产生了诸多滑板明星。由滑板商，著名公司组织的巡回品牌推广活动，给商家带来巨大利益，已成为工业市场学的常用手法。滑板运动员的泥土感很重的衣着、怀旧球鞋一度成为世界潮流，而相关音乐(new wave music，Punk，hipop)也达到了鼎胜，其语言、技巧、服饰和音乐，构成了独具特色的滑板文化。在美国滑板运动的发烧友多达450万之众!由于滑板运动太过惊险、刺激，在上世纪60年代，滑板运动受到政府严令禁止，曾一度沦为"地下项目"。一直到80年代中期，滑板项目才被政府公开解禁、重见天日，使得这项都市魔幻运动卷土重来。滑板天皇巨星Tony Hawker和Andy McDonald在许多年青人眼里无疑是和乔丹、桑普拉斯一样的超级偶像。<br>
	滑板运动以滑行为特色，崇尚自由的运动方式，体验与创造超重力的感受，给滑者带来成功和创造的喜悦。滑板运动不同于传统运动项目，不拘泥于固定的模式，需要滑者自由发挥想象力，在运动过程中创造，以创造力来运动，强调身心的自由，推崇与自然互相融合的运动理年。滑板运动富有超越身心极限的自我挑战性、观赏刺激性、高科技渗透性。人在运动中完善人性，回归自然的本质重新被充分被强调，在繁华都市潜藏着一股回归自然、融于自然、挑战自我，达致天人合一思想境界的清流极限运动特色。在欧美各国及各发展中国家，参加极限运动已经成为都市青年最流行、最持久的时尚，参加极限运动会已成为广大都市青年梦寐以求的愿望!<br>
	</p>
<img border="0" src="/static/images/p1.jpg" alt="Pulpit rock" width="600" height="600">
<!--	<form action="{{url_for('handle')}}" method="post">-->
<!--		<h4>添加文章</h4>-->
<!--		<p>-->
<!--			<input type="text" name="title" placeholder="标题" />-->
<!--		</p>-->
<!--		<p>-->
<!--			<textarea name="content" cols="30" rows="10" placeholder="内容"></textarea>-->
<!--		</p>-->
<!--		<button type="submit">提交</button>-->
<!--	</form>-->
{% endblock %}